.article {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article--justifyright {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;  
}

.article--justifyleft {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;  
}

.article--justifycenter {
  text-align: center;  
}

.article__image {
  width: 100px;
}

.article__image--rotated {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);  
}

.article__subtitle {
  font-family: var(--font-header);
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
  margin-bottom: '1rem'
}

.article__subtitle--large {
  font-family: var(--font-header);
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: '0rem'
}

.article__title {
  font-family: var(--font-header);
  color: var(--ecru);
  font-size: 58px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.article__title--large {
  font-family: var(--font-header);
  color: var(--ecru);
  font-size: 86px;
  line-height: 90px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin-top: '1rem',
}

.article__text {
  font-family: var(--font-text);
  color: var(--white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 19px;
  margin: 2rem 0rem;
}

.article__text--large {
  font-family: var(--font-text);
  color: var(--white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 40px;
  font-size: 27px;
  margin: 2rem 0rem;
}

.article__button {
  background-color: var(--ecru);
    color: var(--black);
    font-family: var(--font-text);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 1px;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {

  .article__title--large {
    font-size: 70px;
    line-height: 70px;
  }
 
  .article__subtitle--large {
    line-height: 40px;
    font-size: 26px;
  }

  .article__text--large {
    line-height: 30px;
    font-size: 20px;
  }

  .article__title {
    font-size: 45px;
    line-height: 55px;
  }

  .article__subtitle {
    line-height: 29.9px;
    font-size: 20px;
  }

  .article__text {
    line-height: 28px;
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  .app__section {
    padding: 4rem 2rem;
  }

}

@media screen and (max-width: 450px) {
  .article__title--large {
    font-size: 50px;
    line-height: 50px;
  }
 
  .article__subtitle--large {
    line-height: 30px;
    font-size: 22px;
  }

  .article__text--large {
    line-height: 30px;
    font-size: 16px;
  }

  .article__title {
    font-size: 30px;
    line-height: 35px;
  }

  .article__subtitle {
    line-height: 22px;
    font-size: 18px;
  }

  .article__text {
    line-height: 28px;
    font-size: 14px;
  }
}
