.article {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.article--justifyright {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;  
}

.article--justifyleft {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;  
}

.article--justifycenter {
  text-align: center;  
}

.article__image {
  width: 15%;
}

.article__image--rotated {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);  
}

.article__subtitle {
  font-family: var(--font-header);
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.article__title {
  font-family: var(--font-header);
  color: var(--ecru);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.article__text {
  font-family: var(--font-text);
  color: var(--white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 15px;
}

.article__text--grey {
  color: var(--grey);
}


.article__button {
  background-color: var(--ecru);
    color: var(--black);
    font-family: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 1px;
    border: none;
    outline: none;
    cursor: pointer;
}