.services {
  flex-direction: column;
  background-color: var(--midnight-green);
}

.services__bassguitar {
  width: 410px;
  margin: 0 2rem;
}

.services__bassguitar-image {
  width: 100%;
  height: auto;
}


.services__content {
  width: 100%;
  margin: 2rem 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.services__heading {
  font-family: var(--font-header);
  font-weight: 600;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0.04em;
  color: var(--white);
}

.services__studiowork,
.services__musician {
  flex: 1;
  width: 100%;
  flex-direction: column;
}



.services__list {
  display: flex;
  flex-direction: column;

  margin: 2rem 0;
  width: 100%;
}

@media screen and (max-width: 1150px) {
  .services__content {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .services__bassguitar {
      margin: 3rem 0;
  }
}

@media screen and (max-width: 650px) {
  .services__bassguitar {
      width: 100%;
  }

  .services__heading {
      font-size: 35px;
      line-height: 48.5px;
  }
}
