.aboutus {
  position: relative;
}

.aboutus__overlay {
  position: absolute;
  inset: 0;
}

.aboutus__overlay img {
  width: 391px;
  height: 415px;
  z-index: 0;
}

.aboutus__content {
  width: 100%;
  z-index: 2;
}

.aboutus__about {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: right;
}

.aboutus__drumstick {
  margin: 2rem 4rem;
}

.aboutus__drumstick img {
  height: 910px;
}

.aboutus__history {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  text-align: left;
}

.aboutus__about p,
.aboutus__history p {
  margin: 2rem 0;
  color: var(--color-grey);
}
